<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Iza Vene</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">

</head>
<body class="{{ page.layout }}-page">

    <header class="main-header">
        <div class="header-container">
            <div class="logo-box">
                <a href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="iza vene" class="site-logo">
                </a>
            </div>

            <nav class="main-nav">
                <ul>
                    <li><a href="{{ '/' | relative_url }}#about">about me</a></li>
                    <li><a href="{{ '/' | relative_url }}#work">work</a></li>
                    <li><a href="{{ '/' | relative_url }}#blog">blog</a></li>
                </ul>
            </nav>

            <div class="header-contact">
                <a href="mailto:iza.vene4@gmail.com">iza.vene4@gmail.com</a>
                <a href="https://www.linkedin.com/in/iza-vene-7858b221a/" target="_blank" class="social-icon">
                   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
                       <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                   </svg>
                </a>
            </div>
        </div>
    </header>

    <main class="content-wrapper">
        {{ content }}
    </main>

    <footer class="site-footer">
        <p>&copy; {{ "now" | date: "%Y" }} iza vene</p>
    </footer>

</body>
</html>
