<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Iza Vene</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">

</head>
<body class="{{ page.layout }}-page">

    <header class="main-header">
        <div class="header-container">
            <div class="logo-box">
                <a href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="iza vene" class="site-logo">
                </a>
            </div>

            <nav class="main-nav">
                <ul>
                    <li><a href="{{ '/' | relative_url }}#about">about me</a></li>
                    <li><a href="{{ '/' | relative_url }}#work">my work</a></li>
                    <li><a href="{{ '/' | relative_url }}#blog">blog</a></li>
                </ul>
            </nav>

            <div class="header-contact">
                <a href="mailto:iza.vene4@gmail.com">iza.vene4@gmail.com</a>
            </div>
        </div>
    </header>

    <main class="content-wrapper">
        {{ content }}
    </main>

    <footer class="site-footer">
        <p>&copy; {{ "now" | date: "%Y" }} iza vene</p>
    </footer>

</body>
</html>
